body {
    background-color: #f0f0f0;
    color: #121212;
}

cover.jpg {
    width: 400px,
    height: 300px
}

nav {
    background-color: #121212;
    color: #f0f0f0;
}

.container {
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.record__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 512px) {
    .record__header {
        flex-direction: column;
    }
}