body {
    background-color: #f0f0f0;
    color: #121212;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
}

nav {
    background-color: #121212;
    color: #f0f0f0;
}

.container {
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

}

.record__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    color:rgb(00, 00, 00);
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a:visited{
    text-decoration:none;
}

@media screen and (max-width: 512px) {
    .record__header {
        flex-direction: column;
    }
}